select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}

body {
  margin: 0;
  position: relative;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 48px;
    text-align: center;
    color: #EBEBEB;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    padding-left: 81px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #5E5369;
}