@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

.content {
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
}

label {
  font-size: 16px;
}

#userInfo {
    width: 50%;
    overflow: hidden;
    text-align: left;
    float: left;
    display: inline-block;
  }

#photoInput {
    width: 40%;
    /* float: right; */
  display: inline-block;
  align-content: center;
  text-align: left;
  /* padding: 10%; */
}

#register-button {
  display: block;
  width: 100%;
}

.form-control {
  width: 45% !important;
  max-width: 569px;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: rgba(106, 118, 143, 0.63);
  color: white;
  padding: 16px 20px;
  /* margin: 8px 0; */
  border: none;
  cursor: pointer;
  width: 80%;
  margin: 0 10%;
  position: relative;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

#empty-img {
  width: 100px;
  height: 100px;
  background-color: rgba(115, 115, 116, 0.63);
  margin: 2% 15%;
}
