@import url(http://fonts.googleapis.com/css?family=Play:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);


.content {
    padding-top: 60px;
}


#vendingBackground {
        /* position: absolute; */
        float: right;
        width: 50%;
        min-width: 484px;
        max-width: 535px;
        height: 70vh;
        min-height: 576px;
        margin: 0 5%;
        background: #3A3D36;
}

#cameraBase {
    border-radius: 50%;
    z-index: 10;
    position: inherit;
    /* display: inline-block; */
    float: left;
    width: 17vh;
    height: 17vh;
    margin: 20% 8% 5% 8%;
    background: #524C4C;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.54);
}

#cameraLense {
    border-radius: 50%;
    z-index: 15;
    position: inherit;
    display: inline-block;
    width: 12vh;
    height: 12vh;
    margin: 12%;
    border: 5px solid #3F1B1B;;
    background: #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.54);
}

#cameraShine {
    border-radius: 50%;
    z-index: 20;
    position: inherit;
    display: inline-block;
    width: 2vh;
    height: 2vh;
    margin: 12%;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.54);
}

#scanButton {
    border-radius: 50%;
    z-index: 10;
    position: inherit;
    width: 10vh;
    height: 10vh;
    margin: 28% 20% 5% 5%;
    background: #C20A0A;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.39),
                 inset 0px -10px 0px rgba(255, 255, 255, 0.31);
    float: right;
    cursor: pointer;
    outline: none;
}

#screenBase {
    z-index: 15;
    position: inherit;
    width: 80%;
    height: 20vh;
    min-height: 101px;
    margin: 60% 10%;
    background: #D8D710;
    box-shadow: inset 0px 15px 15px rgba(0, 0, 0, 0.25),
                inset 0px -15px 0px rgba(0, 0, 0, 0.12);
}

#inputScreen {
    z-index: 20;
    position: inherit;
    display: inline-block;
    width: 75%;
    height: 12vh;
    margin: 6% 7%;
    padding: 4%;
    background: #43A104;
    /* Fonts */
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;

    color: #000000;
}

#imageScan {
    float: left;
    margin: 20% 0;
    overflow: hidden;
}

#userInfoList {
    display: inline;
    /* width: 30%; */
    /* margin: 20% 0; */
}